<div class="filter-panel" [formGroup]="filterForm">

  <div class="new-todo">
    <button mat-flat-button color="primary" (click)="openAddTodoDialog()" aria-label="Neues Todo" matTooltip="Neues Todo anlegen">
        <mat-icon class="neuesTodo">add</mat-icon>
        <span>Neues Todo</span>
    </button>
  </div>

  <div class="sidenav-section">
    <mat-form-field class="search-field" appearance="outline">
      <mat-icon matPrefix></mat-icon>
      <input matInput placeholder="Suche todos..." formControlName="search">
    </mat-form-field>
  </div>

  <div class="sidenav-section">
    <mat-label>Status</mat-label>
    <mat-button-toggle-group formControlName="status" vertical aria-label="Todo filters">
      <mat-button-toggle value="Alle">Alle</mat-button-toggle>
      <mat-button-toggle value="Wartet">Wartet</mat-button-toggle>
      <mat-button-toggle value="Aktiv">Aktiv</mat-button-toggle>
      <mat-button-toggle value="Abgeschlossen">Abgeschlossen</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  
  <div class="sidenav-section">
    <mat-form-field appearance="outline" class="priority-field">
      <mat-label>Priorität</mat-label>
      <mat-select formControlName="priority">
        @for (option of priorityOptions; track option) {
          <mat-option [value]="option">
            {{ option }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

</div>