<div class="filter-panel" [formGroup]="filterForm">
  
  <div class="new-todo">
    <button mat-flat-button (click)="openAddTodoDialog()" aria-label="Neues Todo" matTooltip="Neues Todo anlegen">
        <mat-icon>add</mat-icon>
        <span>Neues Todo</span>
    </button>
  </div>

  <div class="filter-section">
    <mat-form-field class="search-field" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Suche todos..." formControlName="search">
    </mat-form-field>
  </div>

  <div class="filter-section">
    <mat-label>Status</mat-label>
    <mat-button-toggle-group formControlName="status" vertical aria-label="Todo filters">
      <mat-button-toggle value="Alle">Alle</mat-button-toggle>
      <mat-button-toggle value="Wartet">Wartet</mat-button-toggle>
      <mat-button-toggle value="Aktiv">Aktiv</mat-button-toggle>
      <mat-button-toggle value="Abgeschlossen">Abgeschlossen</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="filter-section">
    <mat-form-field appearance="outline" class="priority-field">
      <mat-label>Priorität</mat-label>
      <mat-select formControlName="priority" placeholder="Priorität">
        @for (option of priorityOptions; track option) {
          <mat-option [value]="option">
            {{ option }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
<mat-divider></mat-divider>

  <div class="filter-section tag-management-section">
    <mat-label>Tags verwalten</mat-label>

    <mat-chip-listbox class="tag-list" aria-label="Tag-Liste">
      @if (alleTags$ | async; as tags) {
        @for (tag of tags; track tag.name) {
          <mat-chip-row [style.background-color]="tag.color" [style.color]="'white'">
            {{ tag.name }}
            <button matChipRemove (click)="onDeleteTag(tag.name)" [aria-label]="'Lösche ' + tag.name">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      }
    </mat-chip-listbox>

    <form [formGroup]="tagForm" (ngSubmit)="onAddTag()" class="add-tag-form">
      
      <div class="tag-input-group">
        <input type="color" formControlName="color" class="tag-color-picker" matTooltip="Tag Farbe auswählen">

        <mat-form-field appearance="outline" class="tag-name-field">
          <input matInput placeholder="Neuer Tag-Name" formControlName="name" required>
          <mat-icon matSuffix matTooltip="Tag hinzufügen">
            <button mat-icon-button type="submit" [disabled]="tagForm.invalid" aria-label="Tag hinzufügen">
              <mat-icon>add_circle</mat-icon>
            </button>
          </mat-icon>
          @if (tagForm.get('name')?.hasError('required') && tagForm.get('name')?.touched) {
            <mat-error>Name ist erforderlich</mat-error>
          }
        </mat-form-field>
      </div>

    </form>

  </div>

</div>