
.warn-button {
    background-color: rgb(217, 0, 0);
}

mat-icon {

    font-family: "Material Symbols Outlined";
    font-size: 24px;

    font-variation-settings: 
        "wght" 200,
        "GRAD" 0,
        "FILL" 0,
        "opsz" 24;
}