
.warn-button {
    background-color: rgb(217, 0, 0);
}

.settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

mat-icon {

    font-family: "Material Symbols Outlined";
    font-size: 24px;

    font-variation-settings: 
        "wght" 400,
        "GRAD" 0,
        "FILL" 0,
        "opsz" 24;
}