.footer {
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 24px;
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

.text {
  font-size: 0.9rem;
}