<mat-toolbar>

  <span class="header-title">Angular ToDo App</span>

  <span class="spacer"></span>

<!-- Intetion hier ist mal zwischen Light/Dark Mode zu wechseln -->
  <button mat-icon-button matTooltip="Kommt noch" aria-label="Contrast">
    <mat-icon>contrast</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Einstellungen" (click)="openSettingsDialog()" label="Settings">
    <mat-icon class="settings-icon">settings</mat-icon>
  </button>

  @if (isMobile) {
    <button mat-icon-button (click)="menuToggle.emit()" matTooltip="Menü einblenden" aria-label="Toggle filter menu">
      <mat-icon>menu</mat-icon>
    </button>
  }

</mat-toolbar>