<header class="main-header">

<mat-toolbar>

    <div class="header-rechts">
        <span class ="header-title">Angular ToDo App</span>
    </div>

    <span class="space"></span>

    <div class="header-links">
        <button mat-icon-button aria-label="Contrast">
            <mat-icon>contrast</mat-icon>
        </button>
        <button mat-icon-button aria-label="Settings">
            <mat-icon class="settings-icon">settings</mat-icon>
        </button>
    </div>

</mat-toolbar>

</header>