.spacer {
  flex: 1 1 auto;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.mat-icon {
  display: inline;
  align-items: center;
}

.mat-mdc-icon-button {
  padding: 5.5px;
}

mat-toolbar mat-icon {
  font-family: "Material Symbols Outlined";
  font-variation-settings:
    "wght" 200,
    "GRAD" 0,
    "FILL" 1,
    "opsz" 24;
}

/* :host ::ng-deep .mat-mdc-icon-button .mat-mdc-button-persistent-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
} */