:host {
  display: block;
  height: 100%;
}

.app-container {
  height: 100%;
}

.app-sidenav {
  width: 280px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.app-content {
  height: 100%;
  overflow: auto;
}

.content {
  padding: 24px;
}

.mat-mdc-icon-button {
  padding: calc(5.5px);
}