<div class="app-wrapper">
  
    @if (isLoading()) {
    <div class="loading-overlay">
      <mat-spinner></mat-spinner>
    </div>
  }
  <mat-sidenav-container class="app-container" autosize>
    <mat-sidenav #sidenav 
                 class="app-sidenav"
                 position="end"
                 
                 [mode]="isMobile() ? 'over' : 'side'"
                 
                 [opened]="!isMobile()">
                 
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="app-content">
      
      <app-header [isMobile]="isMobile()" 
                  (menuToggle)="sidenav.toggle()">
      </app-header>

      <app-toolbar></app-toolbar>

     <main class="content">
        @defer (on interaction; prefetch on hover) { <!-- on idle -->
          <app-table></app-table>
          <app-done></app-done>
        } @placeholder {
          <div class="skeleton-table">
            <div class="shimmer-wrapper skeleton-header"></div>

            @for (i of [1,2,3,4,5]; track i) {
              <div class="shimmer-wrapper skeleton-row"></div>
            }
          </div>
        }
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
  