.filter-panel {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  padding: 24px 16px;
}

.toolbar-section {
  display: flex;
  flex-direction: column;
}

.search-field,
.priority-field,
.new-todo button {
  width: 100%;
}

.toolbar-section mat-label {
  margin-bottom: 8px;
  font-weight: 500;
}
.new-todo button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

mat-icon {

    font-family: "Material Symbols Outlined";
    font-size: 24px;

    font-variation-settings: 
        "wght" 200,
        "GRAD" 0,
        "FILL" 1,
        "opsz" 24;
}