<form [formGroup]="todoForm" (ngSubmit)="onSave()">
  
  <h1 mat-dialog-title class="form-title">{{ formName }}</h1>

  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="form-name">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" cdkFocusInitial>
      @if (todoForm.get('name')?.hasError('required')) {
        <mat-error>Name ist erforderlich</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Priorität</mat-label>
      <mat-select formControlName="priority">
        @for (option of priorityOptions; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Abbrechen</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="!todoForm.valid">Speichern</button>
  </div>
  
</form>