
form {
  display: flex;
  flex-direction: column;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #C7B37F;
  color: #443135;
}

.form-name {
    margin-top: 8px;
}

dialog-content {
  padding: 32px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 24px;
}