<div class="table-container mat-elevation-z8">
  <table class="todo-table">
    <thead>
  @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
    <tr>
      @for (header of headerGroup.headers; track header.id) {
        <th 
          [class.sortable]="header.column.getCanSort()"
          (click)="header.column.getToggleSortingHandler()?.($event)">
          
          <div class="header-content">
            <ng-container *flexRender="header.column.columnDef.header; props: header.getContext(); let headerContent">
              {{ headerContent }}
            </ng-container>

            @if (header.column.getIsSorted() === 'asc') {
              <mat-icon class="sort-icon">arrow_upward</mat-icon>
            }
            @if (header.column.getIsSorted() === 'desc') {
              <mat-icon class="sort-icon">arrow_downward</mat-icon>
            }
          </div>
        </th>
      }
    </tr>
  }
</thead>

    <tbody>
      @for (row of table.getRowModel().rows; track row.id) {
        <tr class="todo-row">
          @for (cell of row.getVisibleCells(); track cell.id) {
            <td>
              @switch (cell.column.id) {
                @case ('tags') {
                  <mat-chip-listbox>
                    @for (tag of row.original.tags; track tag) {
                      <mat-chip-option [style.background-color]="getTagColor(tag)" [style.color]="'white'">
                        {{ tag }}
                      </mat-chip-option>
                    }
                  </mat-chip-listbox>
                }
                @case ('actions') {
                  <button mat-icon-button color="primary" (click)="onEdit(row.original)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="onDelete(row.original.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                }
                @default {
                  <ng-container *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let cellContent">
                    {{ cellContent }}
                  </ng-container>
                }
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
  
<mat-paginator
  [length]="table.getFilteredRowModel().rows.length"
  [pageSize]="pagination().pageSize"
  [pageIndex]="pagination().pageIndex"
  [pageSizeOptions]="[5, 10, 25]"
  showFirstLastButtons
  (page)="onPageChange($event)"
  aria-label="Select page of todos">
</mat-paginator>

</div>