mat-icon {

    font-family: "Material Symbols Outlined";
    font-size: 24px;

    font-variation-settings: 
        "wght" 200,
        "GRAD" 0,
        "FILL" 1,
        "opsz" 24;
}

.actions-cell {
  align-items: center;
  justify-content: center;
}

.mat-mdc-icon-button {
  padding: calc(5.5px);
}

mat-paginator {
  margin-top: 16px;
}